ResourceGroup/.terraform
ResourceGroup/.terraform.lock.hcl
ResourceGroup/terraform.tfstate
ResourceGroup/terraform.tfstate.backup

VirtualNetwork/.terraform
VirtualNetwork/.terraform.lock.hcl
VirtualNetwork/terraform.tfstate
VirtualNetwork/terraform.tfstate.backup

Subnets/.terraform
Subnets/.terraform.lock.hcl
Subnets/terraform.tfstate
Subnets/terraform.tfstate.backup

AVSET/.terraform
AVSET/.terraform.lock.hcl
AVSET/terraform.tfstate
AVSET/terraform.tfstate.backup